h1{
    font-family: 'Gabarito', cursive;
    font-size: 4.5rem;
}
#tagline{
    width: 75%;
}
.description{
    width: 40rem;
    padding: 1rem 2rem;
}
@media screen and (max-width:625px){
    h1{
        font-size: 2.6rem;
    }
    .description{
        width: 25rem;
        padding: 1rem 3.5rem;
    }
    #tagline{
        width: 80%;
    }
}


